awscli
beautifulsoup4
boto3
Cython
geojson
geopandas
geopy
google-api-core
google-cloud-bigquery
google-cloud-core
google-cloud-storage
graphviz
h5py
imageio
ipython
jupyter
jupyterlab
lightgbm
lxml
matplotlib
numpy
opencv-contrib-python
opencv-python
pandas
psutil
pydot
Pympler
pyproj
rasterio
redis
requests
rio-color
rio-hist
rio-mucho
Rtree
s2cloudless
scikit-image
scikit-learn
scipy
sentinelhub
Shapely
urllib3
wget
xgboost
Fiona
fels
GDAL==2.4.2